@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root{
  --black: #000000;
  --brown: #2A191A;
  --leightbrown: #AA8773;
  --red: #98251E;
  --orange: #E45932;
  --yellow: #F3A93E;
  --grey: #F5F5F5;
}
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto 0px;
    align-items: center;
    justify-content: center;
    }
.row {
  justify-content: center;
  padding: 0;
}

.container-fluid {
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Vidaloka', serif;
  color: var(--brown);
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: var(--brown);
}
.logo img {
  width: 8em;
  padding: 0.5em 0 0 1em;
  position: absolute;
  z-index: 100;
}
/* Navigation */
.navbar {
  justify-content: flex-end;
  padding: 0;
  position: absolute;
  right: 0;
}
.bg-dark {
  background-color: rgba(42,25,26,1)!important;
  padding-left: 1em;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
  font-weight: 300;
}
.nav-link:hover{
  color: var(--orange)!important;
}
.takeawayMenuButton{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
  font-weight: 500!important;
}
.takeawayMenuButton:hover{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
}

.navImage{
  position: absolute;
  z-index: 20;
  height: 46px;
  width: 100%;
}
/* Horizontal lines */
.lines {
  width: 60%;
  margin: 2em 0 0 0;
  padding: 0;
}
.firstLine{
  height: 1.5px;
  background-color: var(--brown);  
}
.secondLine {
  height: 3px;
  background-color: black;
  margin-top: -0.7em;
}


/*---Firefox Bug Fix --*/
.logo img {
  width: 10em;
}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.sliderTopInner img{
  width: 100%;
  height: auto;
  z-index: -10;
}
.carousel-indicators li {
  background-color: var(--orange);
}
/* Grey shapes */
/* .test {
  background-image: url(./images/grey-vertical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 111%;
  height: 498px;
  position: top left;
  left: 0;
  top: 0;
  z-index: -10;
} */

/* Om os */
.aboutUsContainer {
  margin: -3em 0 0 0;
  padding: 2em;
}
.aboutUsContainer p, h5{
  margin-top: 2em;
}
.AboutUsParagraph{
  margin: 0 3em 0 0;
}

.aboutUsImage{
  width: 100%;
  margin-top: 2em;
}
.greyTexture {
  position: absolute;
  width: 100%;
  height: 901px;
  z-index: -15;
  top: -2em;
  left: 0;
  opacity: 40%;
}
.pics {
  margin: 4em 0;
}
.welcomeTwoImages img{
  width: 100%;
  padding: 0 0 2em 0;
}

.Vidaloka22px{
  font-family: 'Vidaloka', serif;
  width: 100%;
  padding: 1em 2em 1em 2em;
  font-size: 1.4em;
  line-height: 30px;
  }
  .OurTeamUsParagraph{
    margin: 0 0 0 2em;
  }

/* Slider Bottom */

.sliderBottom {
  width: 100%;
  margin-top: 9em;
  }
.sliderBottom-item{
  margin-top: -2em;
}
.quotes, .stars{
  width: 30px;
  margin: auto;
  margin-bottom: 2em;
}
.quotes{
  width: 30px;
}
.stars{
  width: 120px;
 }
.sliderBottom-caption {
  position: relative;
  bottom: -34px;
  z-index: 100;
  padding-top: 67px;
  padding-bottom: 20px;
  left: 0;
  padding: 0 2em 3em -1em;
}
.sliderBottom-item .sliderBottom-caption h5{
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  padding: 0 2em 0 2em;
  text-align: center;
 }
.sliderBottom-item .sliderBottom-caption h6{
  font-weight: 300;
  text-align: center;
}
.sliderBottom-indicators{
  top: 25em;
}

/* Footer */
.footer{
  margin: 0;
}
.footerTexture{
  width: 100%;
  height: 26em;
  z-index: -10;
  position: absolute;
  top: 4em;
  left: 0;
  }
.footerLogo {
  width: 130px;
  }
.footer p {
  width: 100%;
  margin-top: -6em;
  color: white;
  font-family: 'Raleway';
  text-align: center;
  }
.footer button{
  margin: 2em 0 0 0;
}
.takeawayButton{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
}
.takeawayButton:hover{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
}
.bookButton{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
}
.bookButton:hover{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
}
.covidButton{
  background-color: var(--red)!important;
  border: none;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
  }
  .covidButton:hover{
    background-color: var(--orange)!important;
    border: none;
  }

/*---Media Queries --*/
@media (max-width: 576px) {
    .aboutUsTitle{
      width: 100%;
    }
    
    .linesPages{
      width: 40%;
      margin: 0 0 0 -8em;
      padding: 0;
    }
    .footer {
      margin: 3em 0 0 0;
    }
    .footerLogo {
      margin: 6em 0 9em 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .aboutUsTitle{
    width: 100%;
    text-align: left;
  }
  .lines {
    width: 40%;
    margin: 3em 0 0 3em;
     }
    .aboutUsContainer p, h5 {
      margin: 2em 0 0 3em;
    }
    .pics {
      margin: 10em 0;
    }
    .sliderBottom-item .sliderBottom-caption h5 {
      width: 80%;
    }
    .footer {
      margin: 3em 0 0 0;
    }
    .footerLogo {
      margin: 6em 0 9em 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .aboutUsContainer p {
    margin: 0 0 0 2em;
  }
  .lines {
    margin: 3em 0 0 2em;
  }
  .pics {
    display: flex;
    margin: 10em 0;
  }
  .footer {
    margin: 5em 0 0 0;
  }
  .footerTexture {
      height: 30em;
    }
    .footerLogo {
      margin: 6em 0 9em 0;
  }
  
}
@media only screen and (min-width: 993px) and (max-width: 1200px){
  .aboutUsContainer p {
    margin: 0 0 0 2em;
  }
  .lines {
    margin: 3em 0 0 2em;
  }
  .pics {
    display: flex;
    margin: 10em 0;
  }
  .footer {
    margin: 5em 0 0 0;
  }
  .footerTexture {
     height: 30em;
  }
  .footerLogo {
    margin: 6em 0 9em 0;
  }
}
@media only screen and (min-width: 1201px) {
  .logo img {
    width: 10em;
}
  .footerTexture {
    height: 30em;
  }
  .footer {
    margin: 5em 0 0 0;
  }
  .footerLogo {
    margin: 6em 0 9em 0;
  }
  .pics {
    display: flex;
    margin: 10em 0;
  }
}

