@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

:root{
  --black: #000000;
  --brown: #2A191A;
  --leightbrown: #AA8773;
  --red: #98251E;
  --orange: #E45932;
  --yellow: #F3A93E;
  --grey: #F5F5F5;
}
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: auto 0px;
    align-items: center;
    justify-content: center;
    }
.row {
  justify-content: center;
  padding: 0;
}

.container-fluid {
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Vidaloka', serif;
  color: var(--brown);
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: var(--brown);
}
.logo img {
  width: 8em;
  padding: 0.5em 0 0 1em;
  position: absolute;
  z-index: 100;
}
/* Navigation */
.navbar {
  justify-content: flex-end;
  padding: 0;
  position: absolute;
  right: 0;
}
.bg-dark {
  background-color: rgba(42,25,26,1)!important;
  padding-left: 1em;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
  font-weight: 300;
}
.nav-link:hover{
  color: var(--orange)!important;
}
.takeawayMenuButton{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
  font-weight: 500!important;
}
.takeawayMenuButton:hover{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
}

.navImage{
  position: absolute;
  z-index: 20;
  height: 46px;
  width: 100%;
}
/* Horizontal lines */
.lines {
  width: 60%;
  margin: 2em 0 0 0;
  padding: 0;
}
.firstLine{
  height: 1.5px;
  background-color: var(--brown);  
}
.secondLine {
  height: 3px;
  background-color: black;
  margin-top: -0.7em;
}


/*---Firefox Bug Fix --*/
.logo img {
  width: 10em;
}
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.sliderTopInner img{
  width: 100%;
  height: auto;
  z-index: -10;
}
.carousel-indicators li {
  background-color: var(--orange);
}
/* Grey shapes */
/* .test {
  background-image: url(./images/grey-vertical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 111%;
  height: 498px;
  position: top left;
  left: 0;
  top: 0;
  z-index: -10;
} */

/* Footer */
.footer{
  margin: 0;
}
.footerTexture{
  width: 100%;
  height: 26em;
  z-index: -10;
  position: absolute;
  top: 4em;
  left: 0;
  }
.footerLogo {
  width: 130px;
  }
.footer p {
  width: 100%;
  margin-top: -6em;
  color: white;
  font-family: 'Raleway';
  text-align: center;
  }
.footer button{
  margin: 2em 0 0 0;
}
.takeawayButton{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
}
.takeawayButton:hover{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
}
.bookButton{
  background-color: var(--red)!important;
  border: none;
  color: white!important;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
}
.bookButton:hover{
  background-color: var(--orange)!important;
  color: white!important;
  border: none;
}
.covidButton{
  background-color: var(--red)!important;
  border: none;
  font-weight: 400!important;
  margin: 2em 1em 0 0!important;
  }
  .covidButton:hover{
    background-color: var(--orange)!important;
    border: none;
  }

/*---Media Queries --*/
@media (max-width: 576px) {
    .welcomeTitle{
      width: 100%;
    }
    .footer {
      margin: 3em 0 0 0;
    }
    .footerLogo {
      margin: 6em 0 9em 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .welcomeTitle{
    width: 100%;
    text-align: left;
  }
  .lines {
    width: 40%;
    margin: 3em 0 0 3em;
     }
  .footer {
    margin: 3em 0 0 0;
  }
  .footerLogo {
    margin: 6em 0 9em 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .lines {
    margin: 3em 0 0 2em;
  }
  .footer {
    margin: 5em 0 0 0;
  }
    .footerTexture {
      height: 30em;
    }
    .footerLogo {
      margin: 6em 0 9em 0;
    }
  }
@media only screen and (min-width: 993px) and (max-width: 1200px){
  .lines {
    margin: 3em 0 0 2em;
  }
  .footer {
    margin: 5em 0 0 0;
  }
  .footerTexture {
      height: 30em;
    }
  .footerLogo {
    margin: 6em 0 9em 0;
  }
}
@media only screen and (min-width: 1201px) {
  .logo img {
    width: 10em;
}
  .footerTexture {
    height: 30em;
  }
  .footer {
    margin: 5em 0 0 0;
  } 
  .footerLogo {
    margin: 6em 0 9em 0;
  }
}

/* Galleri 1 */
  /* div#quad { 
    background-color: #000; 
    font-size: 0; width: 60%; 
    margin: 0 auto;
    box-shadow: 0 0 12px rgba(0,0,0,0.8);
  }
  div#quad figure { 
    margin: 0; width: 50%; 
    height: auto; transition: 1s; 
    display: inline-block; 
    position: relative; overflow: hidden; 
  }
  div#quad figure:hover { cursor: pointer; z-index: 4; }
  div#quad figure img { width: 100%; height: auto; }
  div#quad figure:nth-child(1) { transform-origin: top left; }
  div#quad figure:nth-child(2) { transform-origin: top right; }
  div#quad figure:nth-child(3) { transform-origin: bottom left; }
  div#quad figure:nth-child(4) { transform-origin: bottom right; }
  div#quad figure figcaption { 
    margin: 0; opacity: 0; 
    background: rgba(0,0,0,0.3); 
    color: #fff; padding: .3rem; 
    font-size: 1.2rem; 
    position: absolute; 
    bottom: 0; width: 100%;
      transition: 1s 1s opacity; 
  }
  .expanded { transform: scale(2); z-index: 5;  }
  div#quad figure.expanded figcaption { opacity: 1; }
  div.full figure:not(.expanded) { pointer-events: none; } */


  
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }